html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.episodeLayout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
}

.episodeBox {
  padding: .5rem;
}

.header{
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid moccasin;
  padding: .5rem;
  position: sticky;
  top: 0;
}

.setBorder{
  border: 10px solid black;
}